<html>
	<head>
		<meta charset="UTF-8">
		<style>
			@font-face{
			  font-family:'proxima-nova';
			  src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-bold-webfont.eot);
			  src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-bold-webfont.eot?#iefix) format("embedded-opentype"),
				  url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-bold-webfont.woff) format("woff"),
				  url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-bold-webfont.ttf) format("truetype"),
				  url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-bold-webfont.svg#ProximaNovaBold) format("svg");
			  font-weight:700;
			  font-style:normal
			}
			@font-face{
			  font-family:'proxima-nova';
			  src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-boldit-webfont.eot);
		   src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-boldit-webfont.eot?#iefix) format("embedded-opentype"),
			   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-boldit-webfont.woff) format("woff"),
			   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-boldit-webfont.ttf) format("truetype"),
			   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-boldit-webfont.svg#ProximaNovaBoldItalic) format("svg");
			  font-weight:700;
			  font-style:italic
			}
			@font-face{
			 	font-family:'proxima-nova';
			 	src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-reg-webfont.eot);
			   src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-reg-webfont.eot?#iefix) format("embedded-opentype"),
			 	   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-reg-webfont.woff) format("woff"),
			 	   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-reg-webfont.ttf) format("truetype"),
			 	   url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-reg-webfont.svg#ProximaNovaRegular) format("svg");
			 	font-weight:400;
			 	font-style:normal
			}
			@font-face{
			 	font-family:'proxima-nova';
			 	src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-regit-webfont.eot);
		 src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-regit-webfont.eot?#iefix) format("embedded-opentype"),
			 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-regit-webfont.woff) format("woff"),
			 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-regit-webfont.ttf) format("truetype"),
			 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-regit-webfont.svg#ProximaNovaRegularItalic) format("svg");
			 	 font-weight:400;
			 	 font-style:italic
			}
			@font-face{
				font-family:'proxima-nova';
				src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-sbold-webfont.eot);
			 src:url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-sbold-webfont.eot?#iefix) format("embedded-opentype"),
				 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-sbold-webfont.woff) format("woff"),
				 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-sbold-webfont.ttf) format("truetype"),
				 url(//d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/webfonts/proximanova-sbold-webfont.svg#ProximaNovaSemibold) format("svg");
				 font-weight:600;
				 font-style:normal
			}

			body {
				color: #3f729b;
				font-weight: bold;
				font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
				font-size: 14px;
				padding: 0px;
				margin: 0px;
			}
			.header, .image, .tags, .message {
				width: 80mm;
			}
			.header {
				height: 30px;
			}
			.header img {
				width: 30px;
				height: 30px;
				margin: 0 5px;
				float: left;
			}
			.header span {
				line-height: 30px;
			}
			.withLocation span {
				line-height: 15px;
			}
			.withLocation .location {
				font-weight: normal;
				font-size: 13px;
				background: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/3c745ab/images/MediaItem/MediaItem.png') no-repeat 0 -127px;
				padding-left: 14px;
				-webkit-print-color-adjust: exact;
			}
			.image img {
				width: 80mm;
				height: 80mm;
				margin: 10px 0 5px;
			}
			.message {
				font-weight: normal;
				color: #222;
				padding: 3mm;
				width: 74mm;
			}
			.message .name {
				color: #3f729b;
				font-weight: bold;
			}
			.message .tag {
				color: #3f729b;
			}
			.tags {
				padding: 10px;
			}
		</style>
	</head>
	<body>

		<% if (image.location && image.location.name) { %>
			<div class="header withLocation">
				<img src="<%= image.user.profile_picture %>" /><span class="name"><%= image.user.username %></span><br />
				<span class="location"><%= image.location.name %></span>
			</div>
		<% } else { %>
			<div class="header">
				<img src="<%= image.user.profile_picture %>" /><span class="name"><%= image.user.username %></span>
			</div>
		<% } %>

		<div class="image">
			<img src="<%= image.images.standard_resolution.url %>">
		</div>

<!--		<div class="tags">
			<% for (i in image.tags) { %>
				#<%= image.tags[i] %><%= i==image.tags.length-1 ? '' : ',&nbsp;' %>
			<% } %>
		</div>
-->
		<% if (image.caption) { %>
			<div class="message">
				<span class="name"><%= image.user.username %></span> <%= image.caption.text.replace(/(#[^\s,]+)/ig, '<span class="tag">$1</span>') %>
			</div>
		<% } %>

	</body>
</html>