<html>
	<head>
		<meta charset="UTF-8">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<style>
		li {
			padding: 10px;
			border-bottom: 1px solid #222;
		}
		</style>
	</head>
	<body>
		<% if (list) { %>
		<ul>
			<% for (i in list) { %>
	        	<li>
	        		<a href="<%= list[i].images['standard_resolution'].url %>" target="_blank"><img src="<%= list[i].images['thumbnail'].url %>"></a><br />
	        		<% if (list[i].caption) { %>
		        		<span><%= list[i].user.username %> </span><br />
		        		<span><%= list[i].caption.text %> </span><br />
	        		<% } %>
		        	<span><%= list[i].id %> </span><br />
	        		<div style="display:none;"><%= JSON.stringify(list[i]) %></div>
	        		<a href="#<%= list[i].id %>" class="print" data-image-id="<%= list[i].id %>">Распечатать</a>
	        	</li>
	        <% } %>
		</ul>
	    <% } %>

	    <a href="?max_timestamp=<%= (list.length ? (list[list.length-1].created_time-1) : next_max) %>&min_timestamp=<%= next_min %>">Назад</a>
	    <script>
		    $('.print').click(function() {
		    	var _this = this;
		    	var id = $(this).data('image-id');
		    	$.post('http://<%= domain %>:<%= port %>/addJob', {job: 'http://<%= domain %>:<%= port %>/get_image_for_print?id='+id}, function() {
		    		$(this).remove();
		    	});
		    });
	    </script>
	</body>
</html>